.vscode/
.idea/
__pycache__/
*.egg-info
build
dist

# files from script downloads
data
openfold/resources/
tests/test_data/
cutlass/

## SK
# Ignore SLURM job outputs:
/*.out
# Ignore datestamped files:
/202[0-9]-[01][0-9]-[0-3][0-9]-*.*